/* Reset default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #245f38;
    color: white;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.navbar ul li a:hover {
    color: #00bfff;
}

/* Mobile menu button */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

/* Responsive design */
@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        background-color: #00803a;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        text-align: center;
    }

    .navbar ul.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}
/* Logo styling */
.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 200px; /* Sesuaikan ukuran logo */
    height: 50px;
    margin-right: 10px;
}
